
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: 'Oswald';
}

#prizePointer{
    margin-left: 45%;
}


#canvasContainer{
    background-image: url('tiger.png');
    background-size: 176px;
    background-position-x: 170px;
    background-position-y: 166px;
    background-repeat: no-repeat;
}

#save_player_name{
    color: green;
}


