
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: 'Oswald';
}

#prizePointer{
    margin-left: 44.8%;
}

#canvasContainer{
    background-image: url('75-2.png');
    background-size: 173px;
    background-position-x: 170px;
    background-position-y: 165px;
    background-repeat: no-repeat;
}

#canvasContainer2{
    background-image: url('tiger-2.png');
    background-size: 173px;
    background-position-x: 170px;
    background-position-y: 166px;
    background-repeat: no-repeat;
}

#save_player_name, #save_type_code{
    color: green;
}


