
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    font-family: 'Oswald';
}

#prizePointer{
    margin-left: 45.5%;
}

#display_winner tr td{
    font-size: 16px;
}

#canvasContainer{
    background-image: url('tiger.png');
    background-size: 175px;
    background-position-x: center;
    background-position-y: 212px;
    background-repeat: no-repeat;
}


